.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(122, 81, 218);
    color: #fff; /* Cambia el color del texto según tus preferencias */
    padding: 20px;
    text-align: center;
    /* Otras reglas de estilo según tus preferencias */
  }
  
