/* ProductCard.css */
.product-card {
    width: 350px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
    /* Agrega más estilos según tus preferencias */
  }
  
  .product-card img {
    max-width: 40%;
  }
  
  /* Agrega más estilos aquí según sea necesario */
  