.item{
    text-align: center;
    display: inline-block;
  
}

.card{

    border:ridge 1px; ;
    width: 300px;
    height: 400px;
    align-items: center;
    margin: 30px;
    

}
.imgCard{
  width: 150px;
  height: 150px;
  margin: 10px;

}

 .titleCard{
    font-size: 20px;
 }
 .agregarButton{
    margin-top: 20px;
    margin-bottom: 20px;
 }