.cardItemDetail{
    width: 50%;
    height: 50%;
    text-align: center;
    

}
.cardContainer{
    justify-content: center;
  
    align-items: center;
    border: solid 2px;
}
.imgCardItemDetail{
    width: 250px;
}