.categorySelect{
    margin: 20px;
    background-color: rgb(122, 81, 218);
    color: white;
    width: 200px;
    height: 40px;
}
.btnFiltro{
    margin:100px;
}
.category-buttons{
    margin: 30px 0px 40px 0px;
 
    
}
a.category-button{

    margin:20px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    border: ridge;
    text-decoration: none;
   
}
a.category-button:hover{
    background-color:  rgb(122, 81, 218);
    color: white;
}